* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
ul {
  margin: 0;
  padding: 0;
  color: #17252a;
}

a {
  text-decoration: none;
  color: inherit;
}
h2 {
  margin-top: 0;
  text-align: center;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: #fff;
}
header {
  background-color: #3aafa9;
  height: calc(100vh + 3rem);
  width: 100%;
  color: #17252a;
}
header .mylogo {
  display: inline-block;
  margin: 1rem 2rem;
}
header .mylogo img {
  max-width: 5rem;
  height: auto;
}
.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow: hidden;

  float: right;
  z-index: 99;
  margin: auto 2rem;
}

.top-nav li {
  margin: 1rem;
  list-style: none;
}

/*************back to top start********/
.return-to-top {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  z-index: 99;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 5em;
  height: 5em;
  background-color: #feffff;
}

.return-to-top.show {
  visibility: visible;
  opacity: 0.5;
}
.return-to-top.hidden {
  visibility: hidden;
  opacity: 0;
}
.return-to-top img {
  width: 4rem;
  height: auto;
}

.return-to-top:hover {
  opacity: 1;
}

.return-to-top:hover img {
  -ms-transform: translateY(-10px); /* IE 9 */
  -webkit-transform: translateY(-10px); /* Safari prior 9.0 */
  transform: translateY(-10px); /* Standard syntax */
}

/*************back to top end********/

/*************link underline effect start********/

.top-nav a,
.top-nav a:visited,
.top-nav a:hover,
.top-nav a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
}

.top-nav a:hover {
  color: #feffff;
}
.top-nav a.top-nav-item:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;

  bottom: -0.25em;

  height: 3px;
  height: 0.1rem;
  width: 0;
  background: #feffff;

  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.top-nav a.top-nav-item:hover:after {
  width: 100%;
}

/*************link underline effect end********/

.nextArrow {
  display: inline-flex;
  z-index: 99;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -5vh;
  margin: 2em auto;
  opacity: 0.5;
}

.skills-down,
.portfolios-down,
.about-down {
  left: 49%;
}

.skills-down {
  bottom: -3vh;
}
.portfolios-down {
  bottom: 0vh;
}
.about-down {
  bottom: -2vh;
}
.nextArrow:hover {
  opacity: 1;
  transform: translateY(5px);
}

.intro {
  width: 100%;
  height: auto;
  text-align: center;
  display: inline-block;
  margin: 8rem auto;
}
.intro img {
  max-width: 15rem;
  height: auto;
}
.intro h1 {
  width: 80%;
  justify-content: center;
  margin: 1rem auto;
  font-size: 2em;
}

.intro h1 .myName {
  color: #feffff;
}

.intro h1 .position {
  color: #feffff;
}

.skills {
  background-color: #def2f1;
  height: calc(100vh + 3rem);
  padding-top: 8rem;
}

.skills h2 {
  color: #2b7a78;
}

.skills-grid-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 70%;
  margin: 6rem auto;
}

.skills-grid-container img {
  max-width: 5rem;
  height: auto;
  justify-self: center;
}

.portfolios {
  background-color: #2b7a78;
  height: calc(100vh + 3rem);
  padding-top: 8rem;
}

.portfolios h2 {
  color: #feffff;
}

.projects-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: 80%;
  margin: 4rem auto 0 auto;
  text-align: center;
}

.project img {
  max-width: 16rem;
  height: auto;
}

.project-content {
  margin-left: 2rem;
  line-height: 1.5rem;
}
.project-content-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #17252a;
}
.project-content .project-content-text {
  color: #feffff;
  size: 1.5rem;
  text-align: right;
}

.project {
  padding: 2rem;
}
.project:hover {
  background-color: rgba(254, 255, 255, 0.3);
  border-radius: 1rem;
}

.about {
  background-color: #def2f1;
  height: calc(100vh + 3rem);
  padding-top: 8rem;
}

.about h2 {
  color: #2b7a78;
}

.about p {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
  font-size: 1.5rem;
}

.contact {
  background-color: #3aafa9;
  height: calc(100vh + 3rem);
  padding-top: 4rem;
}
.contact h2 {
  width: 60%;
  margin: 12rem auto 2rem auto;
}

.getInTouchBtn {
  display: block;
  margin: 2rem auto;
  padding: 2rem 8rem;
  border: none;
  border-radius: 7px;
  background-color: #2b7a78;
  color: #feffff;
  width: 40%;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.getInTouchBtn:hover {
  background-color: rgba(43, 122, 119, 0.5);
  transform: scale(1.2);
}

.contact-socialMedia {
  margin: 2rem auto;
  text-align: center;
}
.contact-socialMedia img {
  max-width: 4rem;
  height: auto;
  margin: 2rem;
}
.contact-socialMedia img:hover {
  transform: scale(1.2);
}
